.mainheading{
    text-align: center;
}
#notesarea{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
}
#btnnotes{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.button{
    display: inline-block;
    margin-right: 5px;
    margin-top: 45px;
}
.card{
   flex-grow: 1;
   margin-left: 10px;
}
.notesadd{
    margin-top: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.searchchange{
    background-color: yellow;
}
@media (max-width:450px){
    #notesarea{
        width: 95%;
    }
}